/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import 'material';

#header-title{
    color: white;
    text-decoration: none;
}

.main-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.main-wrapper .mdl-card{
    width: 90%;
    margin-top: 30px;
}

.full-width{
    width: 98%;
}

.full-width .mdl-layout__container{
    position: unset;
}
.row-hover{
    transition: ease-in-out .2s;
    cursor: pointer;
    border-radius: 3px;
}

.row-hover:hover{
    //background-color: rgba(255, 182, 89,.65);
    background-color: rgba(255, 152, 0,.80);
}

.prevoz-new{
    align-items: center;
    display: flex !important;
}


.align-left{
    text-align: left;
}

.cell-eposta{
    height: 30px;
}

.cell-geslo{
    height: 30px;
}

#wrapper-inner-new-ride .mdl-grid .mdl-cell--4-col{
    height: 60px;
}

#switch-wrap{
    width: 35px;
}

#switch-text{
    text-align: left;
}

#switch-text span{
    left: 0;
}

.popup-message{
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    transition : all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: translateY(60px);
    z-index: 99;    
}

.flash{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

#flash_notice{
    background-color: rgba(0,128,0,.35);
    border: 1px solid rgba(0,128,0,.70);
}

#flash_alert{
    background-color: #f3adbb;
    border: 1px solid rgba(220, 20, 60,.70);
}

.details-info-big{
    font-size: 1.5em;
    color: #626e79;
}

.mdl-layout__header--seamed{
    height: 50px;
}

.mdl-layout-title{
    color: #ec7100;
    font-weight: bold !important;
}

.row-hover a{
    color: black;
    text-decoration: none;
}

.date_display{
    text-align: center;
    font-size: 1.4em;
}

.next_day{
    text-align: center;
    padding-right: 20px;
    font-size: 1.2em;
}

.next_day a{
    text-decoration: none;
}

._jw-tpk-dark {
    box-shadow: none !important;
}

._jw-tpk-container {
    height: auto !important;
    padding: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12) !important;

}

._jw-tpk-dark ._jw-tpk-header, ._jw-tpk-dark ol > li > a._jw-tpk-selected {
    background: none !important;
    color: black !important;
}

._jw-tpk-dark ._jw-tpk-header, ._jw-tpk-dark ol > li > a._jw-tpk-selected{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border: 1px solid rgba(0,0,0,.12);   
}

._jw-tpk-container ol>li>a:not(._jw-tpk-selected):hover{
    background: white !important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12) !important;
    border: 1px solid rgba(0,0,0,.12);
}

._jw-tpk-dark ._jw-tpk-header, ._jw-tpk-dark ol > li > a._jw-tpk-selected{
    background: none !important;
}

.bottom{
    font-weight: bold;
    border-bottom: 1px solid silver;
    margin-bottom: 8px !important;
}

.button-red{
    color: rgb(255, 255, 255) !important;
    background-color: #D50000 !important;
}

.none{
    display: none;
}