/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import 'material';

#header-title{
    color: white;
    text-decoration: none;
}

.main-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.main-wrapper .mdl-card{
    width: 90%;
    margin-top: 30px;
}

.full-width{
    width: 100%;
}

.full-width .mdl-layout__container{
    position: unset;
}
.row-hover{
    transition: ease-in-out .2s;
    cursor: pointer;
}

.row-hover:hover{
    background-color: rgba(236, 113, 0,.65);
}

.prevoz-new{
    line-height: 39px !important;
}


.align-left{
    text-align: left;
}

.cell-eposta{
    height: 30px;
}

.cell-geslo{
    height: 30px;
}

#wrapper-inner-new-ride .mdl-grid .mdl-cell--4-col{
    height: 60px;
}

#switch-wrap{
    width: 35px;
}

#switch-text{
    text-align: left;
}

#switch-text span{
    left: 0;
}

.popup-message{
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    transition : all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: translateY(60px);
}

.flash{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.hide-overflow{
    overflow: hidden;
}

#flash_notice{
    background-color: rgba(0,128,0,.35);
    border: 1px solid rgba(0,128,0,.70);
}

#flash_alert{
    background-color : rgba(220, 20, 60,.35);
    border: 1px solid rgba(220, 20, 60,.70);
}